html,
body {
    height: 100%;
    /* margin-left: 3vw;
    margin-right: 3vw; */
}

.upper_segment_flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    background: url(bg2.png);
    background-repeat: no-repeat;
    background-position: center top;
}

body {
    text-align: center;
}

.colorize {
    color: white;
}

.img_format {
    height: 4vh;
    width: 4vw;
    align-self: center;
}

.logo_text {
    align-self: center;
    font-family: Helvetica, Arial, Lucida Grande, sans-serif;
    font-size: 2em;
}

.img_text {
    display: flex;
    justify-content: space-around;
}

.main_text {
    font-size: 3.75em;
    font-weight: 700;
    margin-bottom: 0.3em;
}

.minor_text {
    font-size: 1.875em;
    margin-top: 0.3em;
}

.upper_text_body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.btn_trial_flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.text_format {
    border-radius: 5px;
    height: 3rem;
    width: 30rem;
    margin: 0 auto;
}

.text_format:focus {
    outline: none;
    color: #212326;
    font-size: 1rem;
}

.button_format {
    height: 3.38rem;
    width: 10rem;
    margin-left: 10px;
    color: white;
    font-weight: 900;
    background-color: #212326;
    border-radius: 5px;
    border: none;
}

.button_format:hover {
    cursor: pointer;
}

.pBB {
    width: 36rem;
}

.pBB>p {
    font-family: Helvetica, Arial, Lucida Grande, sans-serif;
    font-size: 1em;
    margin-top: 20px;
}

.iFF {
    margin-top: 30px;
}

.grid_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 100px;
    justify-items: center;
}

.grid_element {
    max-width: 300px;
    text-align: justify;
}

.ourProduct {
    font-size: 2.75em;
    font-weight: 700;
    margin-top: 3em;
    margin-bottom: 0;
}

.fH4 {
    font-size: 1em;
    font-weight: 600;
    margin-top: 3em;
    color: #212326;
    font-family: Helvetica, Arial, Lucida Grande, sans-serif;
}

.fP {
    font-size: 0.94em;
    font-weight: 400;
    color: #212326;
    font-family: Helvetica, Arial, Lucida Grande, sans-serif;
}

.fBTN {
    height: 3.38rem;
    width: 10rem;
    color: white;
    font-weight: 900;
    background-color: #008060;
    border-radius: 5px;
    border: none;
}

.prefooter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 100px;
    background-color: #faf9f8;
    height: 40vh;
    align-items: end;
    margin-bottom: 0vh;
}

.hrF {
    width: 30rem;
    border: 1px solid #d2d5d9;
}

.hPT {
    margin-top: 100px;
    color: #004c3f;
    font-weight: 500;
}

.hPB {
    margin-bottom: 100px;
}

.bottom {
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    padding: 2px;
    margin-top: 50px;
}

.bLT {
    margin-right: 2px;
    color: #008060;
}

.bRP {
    margin-left: 5px;
    color: #008060;
}

@media (max-width: 2000px) {
    .grid_section {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 30px;
    }
    .grid_element {
        max-width: 300px;
        text-align: center;
    }
    .button_format {
        margin-top: 10px;
    }
    .zI {
        z-index: 999;
        color: #004c3f;
    }
}